.jumbotron {
    background-color: #9C27B0;
    color: #ffffff;
}

footer {
    background-color: floralwhite;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-dark {
     background-color: #512DA8;
}